body {
    padding: 2em;
    margin: 0;
    font-family: 'Crimson-Text';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Crimson-Text';
    font-weight: 400;
}

#wrapper {
    max-width: 1024px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

#subhead {
    text-align: center;
    margin-top: 1em;
}

#tabs {
    width: 50%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#tabs>.clicked {
    font-weight: bolder;
}

.quadrant {
    width: 45%;
    padding: 0.5em;
}

#profile-photo {
    width: 100%;
}

.pub {
    margin: 1em;
}

.pub-award {
    color: red;
}

li {
    margin: 1em;
}

.footer {
    width: 100%;
    font-size: 0.75em;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

/* Responsive */
@media screen and (max-width: 600px) {
    #header {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    #tabs {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .quadrant {
        width: 100%;
    }
  }
