// body {
//   padding: 2em;
//   margin: 0;
//   font-family: 'Lato';
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

h1 {
  font-family: 'Lato';
  font-weight: 400;
}

#quadrant-wrapper {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

#header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

#subhead {
  text-align: center;
  // margin-top: 1em;
}

#tabs {
  width: 50%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#tabs>.clicked {
  font-weight: bolder;
}

.quadrant {
  width: 48%;
}

#profile-photo {
  width: 100%;
}

.pub {
  margin: 1em;
}

.pub-title {
  font-weight: bold;
}

.pub-award {
  color: red;
}

li {
  margin: 1em;
}

.footer {
  width: 100%;
  font-size: 0.75em;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

// Font stylings

body {
  font-family: Lato;
  line-height: normal;
}

.site-title {
  letter-spacing: normal;
}

// Publications stylings

.pub-desc {
  margin: 0.25em 0;
}

.pub-links {
  margin-bottom: 0.5em;
}

#pub-table {
  margin-top: 3em;
}

.pub-row {
  display: inline-flex;
  flex-direction: row;
  align-items: top;
  margin-bottom: 1em;
}

.pub-ref {
  width: 10%
}

.pub-info {
  width: 100%
}

// News section stylings

#news {
  margin: 1em 0;
}

.news-item {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.25em;
}

.news-time {
  width: 20%;
}

.news-txt {
  width: 80%;
}

/* Responsive */
@media screen and (max-width: 600px) {
  #header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #tabs {
      width: 100%;
      display: inline-flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }
  .quadrant {
      width: 100%;
  }
}
